<h3><%= @cocktail.name %></h3>

<% @cocktail.doses.each do |dose| %>
	<h4>Description: </h4><strong><%= dose.description %></strong>
	<h4>Ingredient name: </h4><strong><%= dose.ingredient.name%></strong>
<%end %>